/**
Sample css code
*/
/* Set height to 100% for body and html to enable the background image to cover the whole page: */
body,
html {
    height: 100%;
    background-color: lightgreen;
}

/*Set background image*/
.container {
  background-image: url('https://doc-10-ao-docs.googleusercontent.com/docs/securesc/ha0ro937gcuc7l7deffksulhg5h7mbp1/r085o9ungppbiokopob2sfbekae4uqbb/1537920000000/14802840322886517493/*/110cT8sl-pOiHGgj9yToPkAqAzrr-RNfb');
  height: 100%;
  background-position: center;
  background-size: cover;
}

/* Position text in the middle */
.middle {
  position: absolute;
  color: beige;
  top: 70%;
  left: 39%;
  text-align: center;
  font-size: 25px;
}

/*Set circle in unordered list*/
.middle ul {
  list-style-type: circle;
}

/*Set text inside li tag to left*/
.middle ul li {
  text-align: left !important;
}

/*Set text color for a tag inside middle class and ul>li element*/
.middle ul li a {
  color: beige;
}

/*Change text color and decoration for a tags inside middle class and ul>li element*/
.middle ul li a:hover {
  color: red;
  text-decoration: none;
}
/* Slideshow container */
.slideshow {
    max-width: 1000px;
    position: relative;
    margin: auto;
}
.navigator {
    background-image: url(../img/menu.png);
    background-repeat: no-repeat;
    width: 940px;
    height: 69px;
    float: left;
    clear: both;
}
.mainpic h1 {
    position: absolute;
    text-align: right;
    color: #F8FDEE;
    font-size: 50px;
    color: #FFF;
    left: 60px;
    top: 20px;
}
.menu {
    background-image: url(../img/nrel-logo.png);
    background-repeat: no-repeat;
    width: 940px;
    height: 69px;
    float: left;
    clear: both;
}
.content {
    width: 880px;
    height: auto;
    background-color: #FFF;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 5px;
    margin-top: 70px;
}
.center {
    overflow: hidden;
    background-color: lightseagreen;
}
    .center a {
        float: left;
        display: block;
        color: lightgray;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 14px;
    }

        .center a:hover {
            background-color: lightslategray;
            color: black;
        }

        .center a.active {
            background-color: black;
            color: white;
        }

    .center .icon {
        display: none;
    }

@media screen and (max-width: 950px) {
    .center a:not(:first-child) {
        display: none;
    }

    .center a.icon {
        float: right;
        display: block;
    }
}

@media screen and (max-width: 950px) {
    .center.responsive {
        position: relative;
    }

        .center.responsive .icon {
            position: absolute;
            right: 0;
            top: 0;
        }

        .center.responsive a {
            float: none;
            display: block;
            text-align: left;
        }
}


.para {
    padding-top: 10px;
    bottom: 0px;
}

h2:hover {
    background-color: slategray;
}